<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Image Composer</title>
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="/assets/fonts/poppins.css" />
<link rel="stylesheet" href="/scripts/css/styles.css" />
<link rel="icon" type="image/x-icon" href="/assets/img/logo.ico" />
<script
  src="https://kit.fontawesome.com/122290aa83.js"
  crossorigin="anonymous"
></script>
